/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --blue: #748cf5;
  --red: #ff6969;
  --body-color: #f8f9fa;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  background-color: var(--body-color);
}

.full-vh {
  min-height: calc(100vh - 56px);
}
