<div class="container-fluid full-vh">
  <div class="row full-vh">
    <div class="col-lg-6 col-sm-12 img-container"></div>
    <div class="col-lg-6">
      <div class="container inner mt-5 mx-auto">
        <h2>Custom Form Builder <span class="color-blue">| Login</span></h2>
        <p class="color-blue mt-3">
          The custom form builder allows you to create multiple custom forms,
          share them, and download form responses.
        </p>
        <div class="form-div mt-5">
          <form class="mx-auto">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control p-2"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div
                id="emailHelp"
                class="form-text color-blue"
                style="color: #ff6969"
              >
                * Invalid Email
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control p-2"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Remember me</label
              >
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
          <p class="mt-3">
            Don't have an account? <span class="color-blue"> Sign up</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
